/* src/App.css */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  width:800px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.App-header {
  background-color: #6200ea;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container-solid {
  padding: 20px;
  text-align: start;
  color: #333;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-row label {
  margin-right: 10px;
}

.input-row input {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#first, #near, #second, #two {
  background-color: #ffab46;
  font-weight: bold;
  color: white;
  text-align: center;
}

#firstPrize, #secondPrizeNum1, #secondPrizeNum2, #SecondPrize1, #SecondPrize2, #SecondPrize3, #twoDigitPrize {
  background-color: #6200ea;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 60px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

#random-btn, #check-btn {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

input[type="text"] {
  height: 40px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label, p {
  color: #333;
  font-size: 18px;
}

.winning-result {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.not-win {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
